button{
  padding: 20px;
  font-size: 3rem;
  background: rgb(3, 184, 112);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.counter{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
p{
width: 100%;
text-align: center;
font-size: 4rem;
}